# SO
.DS_Store
Thumbs.db

# IDE/Editors
.vscode/
.idea/

# Node (por si usas tooling en temas/plugins)
node_modules/

# Composer vendors dentro de plugins/temas
wp/wp-content/plugins/*/vendor/
wp/wp-content/themes/*/vendor/

# WordPress runtime
wp/wp-content/uploads/
wp/wp-content/upgrade/
wp/wp-content/cache/
wp/wp-content/debug.log

# Env opcional (si algún día usas .env)
.env
